
body{
    font-family: 'Droid Sans Mono',Verdana, Geneva, sans-serif;
    background-color: #262626;
    text-align:center;
    margin:0 auto;
}

.todo div{
    height: 100%
    vertical-align: middle;
    width: 70%;
    text-align:center;
    margin:0 auto;
}
.ytal p{
    /*padding-left: 2em;
    padding-right: 2em;*/
    text-align: left;
}

.griss {
    color:#8E8E8E;
}

.ytal{
    line-height: 1.5em;
    font-size: 1.2em;
    padding-top:2em;
    color:#60D5F0;
}

.ytal a{
    text-decoration: none;
    color:#FB266C;
}

.ytal span{
    color:#E6FFFF;
}
.ytal img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 60%;
}


@media screen and (min-width: 768px) {
.ytal{
    padding-top: 2em;
}

.todo div{
    max-width: 60%;
}
}
